{% extends "base.html" %}

{% block content %}
    <div style="float: left;">
        <h2>Flop cards</h2>
        {{ hand | safe}}
        <h3>Hand probabilities at flop:</h3>
        {{ hand_probs | safe }}
        <h3>Win probability at flop:</h3>
        {{ win_prob }} %
    </div>

    <div style="float: right;">
        <h2>Turn cards</h2>
        <form action="" method="post">
            <p> Card 1:
                {{ form.card_1_values() }}
                {{ form.card_1_suit() }}
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}